<!DOCTYPE html>
<html>
    <title>Varunet - Scan Protocol Origins </title>
<head>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
  </head>
    <body>
        <div class="bg">
          <div class="earth-spline">
            <script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.82/build/spline-viewer.js"></script>
<spline-viewer url="https://prod.spline.design/yEGeKSdr5K5W518p/scene.splinecode"></spline-viewer>
          </div>
        <div class="fg">
            <nav class="navbar"> 
            <div class="lol">
            <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo"></img>        
            <a class="title">Varunet</a>
            </div>
            <ul class="nav-links">
              <li><a href="{{ url_for('home') }}">Home</a></li>
              <li><a href="{{ url_for('history') }}">History</a></li>
              <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
          </nav>
        
     <h1> Scan Protocol Origins</h1>
     <a class="microcopy">The intelligence beneath the interface-<br>
        meet the scan engine.</a>
        <div class="about-website">
          <div class="paragraph">
        <h2 class="subheading"> About the Project </h2>
<p class="sentences">Oil spills are silent disasters—devastating marine life, damaging coastlines, and threatening biodiversity. Our project, "Varunet," takes a bold step toward solving this issue using the power of AI. By aligning with Sustainable Development Goal 14: Life Below Water, we aim to revolutionize how oil spills are identified and addressed—faster, smarter, and more efficiently than ever before.</p>
</div>
<div class="paragraph">
<h2 class="subheading"> About the Model</h2>
<p class="sentences">At the core of our solution is YOLOv8, a next-gen object detection model known for its speed and precision. We've enhanced it with K-Means Clustering to sharpen color segmentation and applied Truncated Linear Stretching (TLS) to boost image clarity. Trained on diverse marine datasets, our model is built to distinguish oil spills from similar ocean patterns—delivering real-time results with impressive accuracy.</p>
</div>
<div class="paragraph">
<h2 class="subheading">Why It Matters</h2>
<p class="sentences">Current methods of oil spill detection are slow and reactive. Our model flips the script by offering real-time insights that empower faster, data-driven responses. It’s more than a tech upgrade—it’s a step toward preserving ocean health, supporting marine biodiversity, and using AI for impactful, real-world environmental change.</p>
</div>
        </div>
</body>
</html>
